<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d3d1ba">  <td>20/11/04 11:54:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestDELETEPerson.init()[pri:0, instance:com.FrameworkSample.api.test.TestDELETEPerson@6e75aa0d]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@71587369</td>   <td></td> </tr>
<tr bgcolor="d3d1ba">  <td>20/11/04 11:54:03</td>   <td>1226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDELETEPerson.deleteAPost()[pri:0, instance:com.FrameworkSample.api.test.TestDELETEPerson@6e75aa0d]">deleteAPost</td> 
  <td>main@71587369</td>   <td></td> </tr>
</table>
